.tui-pagination {
  // -moz-user-select: none;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // height: 28px;
  // margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 767px;
  }
}

// .tui-ico-ellipsis, .tui-ico-first, .tui-ico-last, .tui-ico-next, .tui-ico-prev {
//   overflow: hidden;
// }

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 35px;
  padding: 5px 5px;
  margin-left: 4px;
  color: $black-text-color;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  // border: 1px solid #ddd;
  // border-width: 1px 0;
  @media screen and (min-width: 768px) {
    width: 40px;
    padding: 10px;
    margin-left: 15px;
    font-size: 14px;
  }
}

.tui-pagination .tui-page-btn:hover {
  background-color: $accent-color;
  color: $white-text-color;
  border-radius: 4px;
  transform: scale(1.3);
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: $white-text-color;
  background: $accent-color;
  border-color: $accent-color;
  border-radius: 4px;
  cursor: default;
  transform: scale(1.3);
}

.tui-pagination .tui-is-selected:hover {
  background-color: $accent-color;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 10px;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  // border-left: 1px solid #ddd;
   line-height: 20px;
  padding: 0;
  font-size: 0;

  @media screen and (min-width: 768px) {
    line-height: 45px;
  }
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background: url('../images/sp_btn.png') no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  &:hover {
    color: $white-text-color;
  }
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0 0 5px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    padding: 15px 0;
  }
}

.tui-pagination .tui-prev {
  margin-right: 10px;
}

.tui-pagination .tui-next {
  margin-left: 10px;
}

.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px;
}

.tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px 0px;
}

.tui-pagination .tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -13px -24px;
}

.tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px;
}

.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px;
}

.tui-pagination .tui-is-disabled:hover {
  background: #fff;
  cursor: default;
  background-color: transparent;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 15px;
  height: 12px;
  // padding: 8px 0 6px;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;

  &:hover {
    color: $white-text-color;
  }
}

.tui-page-inputs .tui-page-current {
  color: $accent-color;
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top;
}

.pagination-off {
  display: none;
}
